@tailwind base;
@tailwind components;
@tailwind utilities;
 
@keyframes typing{

    0% { 
        width: 0%;
     }
    100%{
        width: 70%;
    }
}
.typing-animation {
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.8s steps(20) 1s infinite;
}
.get-transition{
    transition: all 1.6s;
}